body{
    font-family: Arial, Helvetica, sans-serif;
  }


/*title style*/
#titleStyle{
    font-size: 50px;
    margin: auto;
    width: 40%;
    border: 3px solid #73AD21;
    border-radius: 2cm;
    padding: 10px;
    text-align: center;
    
}

/*table style*/
table{
    border: 3px double #000000;
    background-color:black;
    border-collapse: separate;
    width:40%; 
    margin-left:5%; 
   
}
th{
    background-color: white;
}
td{ /*type*/
    background-color: white;
}

div{
    height:400px;
    width: 700px;
}

/*header style*/
.headerStyle{  /*classselector*/
    font-weight:bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.lastHeader{
    color:aquamarine;
    text-decoration: dotted;

}


body>h2{ /*child selector*/
    color: black;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}


/*list style*/
li{
    font-style: normal;
    font-size: 20px;
    list-style: square;
}

li a { /*descendent selector, overrides normal*/
    font-style: italic; 
}

/*link pseudo classes*/
a:link{
    color: blue;
}
a:visited{
    color:purple;
}
a:hover{
    color: greenyellow;
}
a:active{
    color: black;
}
h2:first-letter { /*pseudo element*/
    font-weight: bold;
    font-size: 3rem;
}
li,th{  /*grouping selector*/
    text-transform:uppercase;
}

#drone{
    height:30vw;
    width: 50vw;
}

li>img{
    height: 300px;
    width: 350px;
}



  